/* здесь используйте глобальные селекторы img, body, html и так далее */

html {
  height: 100%;
  background-color: $bg-color-primary;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: $font-family-lato;
  font-size: 14px;
  line-height: 18px;
  color: $text-color-primary;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
