/* здесь используйте миксины */

@mixin font-face ($font-family, $font-style, $font-weight,  $font-src) {
  @font-face {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    src: $font-src format("woff2");
    font-display: swap;
  }
}

@mixin font-settings ($font-family, $font-style, $font-weight, $font-size, $line-height) {
  font-family: $font-family, sans-serif;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: $font-size+px;
  line-height: $line-height+px;
}
