/* здесь используйте глобальные переменные */

/* Переменные для цветов */

$bg-color-primary: #ffffff;
$bg-color-secondary: #f2f2f2;
$bg-color-secondary-bold: #eaeaea;
$bg-color-accent: #68b738;

$text-color-primary: #000000;
$text-color-secondary: #444444;
$text-color-secondary-bold: #222222;
$text-color-secondary-lightest: #f2f2f2;
$text-color-tertiary: #111111;
$text-color-inverse: #ffffff;

$button-color-primary: #f2f2f2;
$button-color-primary-bold: #ebebeb;
$button-color-secondary: #666666;
$button-color-accent: #68b738;
$button-color-accent-bold: #5eaa2f;


$icon-color-primary: #000000;
$icon-color-secondary: #666666;
$icon-color-accent: #68b738;

$border-color-primary: #666666;
$border-color-secondary: #d9d9d9;
$border-color-secondary-subtle: #e6e6e6;
$border-color-secondary-subtler: #ebebeb;
$border-color-secondary-subtlest: #f2f2f2;
$border-color-secondary-bold: #cdcdcd;
$border-color-accent: #68b738;
$border-color-inverse: #ffffff;


$input-color-primary: #e7e7e7;
$input-color-primary-bold: #cdcdcd;
$input-color-secondary: #444444;
$input-color-error: #ff8282;

/* Переменные для шрифтов */

$font-family-oswald: "Oswald", sans-serif;
$font-family-lato: "Lato", sans-serif;

/* Viewports */

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
