/* здесь используйте классы для блока каталога с второстепенными товарами */

/* -------------------------------------------------------- */
/* Заголовок блока */
/* -------------------------------------------------------- */

.catalog-secondary__title {
  display: grid;
  grid-template-columns: 20px auto 1fr;
  padding-top: 24px;

  &::before,
  &::after {
    content: "";
    display: block;
    background-image: linear-gradient(to bottom, transparent 50%, $border-color-accent 50%, transparent calc(50% + 2px));
  }

  &::before {
    margin-right: 40px;
  }

  &::after {
    margin-left: 40px;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 70px auto 1fr;
    padding-top: 74px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: calc(50% - 610px) auto minmax(calc(50% - 610px), 1fr);
    padding-top: 71px;
  }
}

/* -------------------------------------------------------- */
/* Список доп. товаров */
/* -------------------------------------------------------- */

.catalog-secondary__list {
  display: grid;
  padding: 36px 20px 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding: 80px 30px 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 896px 245px;
    column-gap: 80px;
    justify-content: center;
    padding: 80px 0 0;
  }
}

/* -------------------------------------------------------- */
/* Карточка товара */
/* -------------------------------------------------------- */

.catalog-secondary__item {
  border-top: 1px solid $border-color-secondary;

  &:nth-last-child(2) {
    margin-bottom: 35px;
    border-bottom: 1px solid $border-color-secondary;
  }

  @media (min-width: $tablet-width) {
    border: 1px solid $border-color-secondary;
    border-bottom: none;

    &:nth-last-child(2) {
      margin-bottom: 68px;
    }
  }

  @media (min-width: $desktop-width) {
    border: none;
    border-top: 1px solid $border-color-secondary;

    &:nth-last-child(2) {
      margin-bottom: 0;
      border-bottom: 1px solid $border-color-secondary;
    }
  }
}

/* -------------------------------------------------------- */
/* Карточка с оффером/подарком */
/* -------------------------------------------------------- */

.catalog-secondary__offer {
  display: flex;
  flex-direction: column;
  padding: 187px 50px 43px;
  min-height: 290px;
  background-color: $bg-color-accent;
  border: none;
  background-image:
    url("../../icons/stack.svg#gift"),
    linear-gradient(rgba($bg-color-accent, 0.85)),
    image-set(
      url("../../images/catalog/offer-bg-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/catalog/offer-bg-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/catalog/offer-bg-mobile@2x.jpg") type("image/ipg") 2x,
      url("../../images/catalog/offer-bg-mobile@1x.jpg") type("image/jpg") 1x,
    );
  background-size: 78px 80px, auto, cover;
  background-position: center 58px, center, center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    padding: 71px 125px 69px 200px;
    min-height: 200px;
    background-image:
      url("../../icons/stack.svg#gift"),
      linear-gradient(rgba($bg-color-accent, 0.85)),
      image-set(
        url("../../images/catalog/offer-bg-tablet@2x.webp") type("image/webp") 2x,
        url("../../images/catalog/offer-bg-tablet@1x.webp") type("image/webp") 1x,
        url("../../images/catalog/offer-bg-tablet@2x.jpg") type("image/ipg") 2x,
        url("../../images/catalog/offer-bg-tablet@1x.jpg") type("image/jpg") 1x,
      );
    background-size: 80px 83px, auto, cover;
    background-position: 77px center, center, center;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/999;
    padding: 185px 42px 43px;
    background-image:
      url("../../icons/stack.svg#gift"),
      linear-gradient(rgba($bg-color-accent, 0.85)),
      image-set(
        url("../../images/catalog/offer-bg-desk@2x.webp") type("image/webp") 2x,
        url("../../images/catalog/offer-bg-desk@1x.webp") type("image/webp") 1x,
        url("../../images/catalog/offer-bg-desk@2x.jpg") type("image/ipg") 2x,
        url("../../images/catalog/offer-bg-desk@1x.jpg") type("image/jpg") 1x,
      );
    background-position: center 56px, center, center;
  }
}

.catalog-secondary__offer-text {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $text-color-inverse;

  @media (min-width: $tablet-width) {
    align-self: end;
    max-width: 161px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
