/* здесь используйте классы для блока "как это работает" */

.manual {
  padding: 20px 20px 49px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1220px 1fr;
    padding: 71px 0 0;
  }
}

/* -------------------------------------------------------- */
/* Заголовок блока */
/* -------------------------------------------------------- */

.manual__title {
  padding: 0 0 40px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 32px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/2;
    grid-column: 2/3;
    padding: 0 0 32px;
  }
}

/* -------------------------------------------------------- */
/* Список пунктов */
/* -------------------------------------------------------- */

.manual__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min(280px);
    gap: 37px 60px;
    padding: 0 30px 46px;
    border-bottom: 1px solid $border-color-secondary-subtle;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-row: 2/3;
    grid-column: 2/3;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    padding: 0;
    border: none;
  }
}

/* -------------------------------------------------------- */
/* Элемент списка */
/* -------------------------------------------------------- */

.manual__item {
  display: flex;
  position: relative;
  align-items: center;
  gap: 20px;

  &::before {
    content: "";
    display: block;
    min-width: 60px;
    height: 60px;
    background-color: $bg-color-accent;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: start;
    gap: 31px;
    padding: 40px 40px 40px 0;

    &::before {
      min-width: 80px;
      height: 80px;
    }

    &::after {
      @include font-settings($font-family-oswald, normal, 400, 280, 280);
      display: block;
      position: absolute;
      z-index: -1;
      top: 0;
      color: $text-color-secondary-lightest;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }

  &--leaf::before {
    background-image: url("../../icons/stack.svg#leaf");
  }

  &--powder::before {
    background-image: url("../../icons/stack.svg#powder");
  }

  &--eat::before {
    background-image: url("../../icons/stack.svg#eat");
  }

  &--time::before {
    background-image: url("../../icons/stack.svg#time");
  }

  &--leaf::after {
    @media (min-width: $tablet-width) {
      content: "1";
      left: 121px;
    }
  }

  &--powder::after {
    @media (min-width: $tablet-width) {
      content: "2";
      left: 111px;
    }
  }

  &--eat::after {
    @media (min-width: $tablet-width) {
      content: "3";
      left: 113px;
    }
  }

  &--time::after {
    @media (min-width: $tablet-width) {
      content: "4";
      left: 113px;
    }
  }
}

/* -------------------------------------------------------- */
/* Текст элемента */
/* -------------------------------------------------------- */

.manual__text {
  margin: 0;
  color: $text-color-secondary;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 250px;
  }
}
