/* здесь используйте классы для карточек основных товаров */

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  padding: 20px 20px 24px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 10px 37px 40px;
    background-image: linear-gradient(to bottom, transparent 81px, $bg-color-secondary 81px);
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 40px;
  }
}

/* -------------------------------------------------------- */
/* Ссылка заголовка карточки */
/* -------------------------------------------------------- */

.product__title-link {
  grid-row: 1/2;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

/* -------------------------------------------------------- */
/* Заголовок */
/* -------------------------------------------------------- */

.product__title {
  margin: 0 60px 15px 0;
  color: $text-color-secondary-bold;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 50px 13px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 38px 17px;
  }
}

/* -------------------------------------------------------- */
/* Фото продукта */
/* -------------------------------------------------------- */

.product__img-link {
  grid-column: 1/2;
  grid-row: 1/3;
  justify-items: center;
  align-content: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    order: -1;
    margin-bottom: 22px;
  }
}

picture:has(.product__image),
.product__image {
  display: block;
  width: 140px;
  height: 107px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 5px;
  }
}

/* -------------------------------------------------------- */
/* Список с описанием */
/* -------------------------------------------------------- */

.product__desc-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 2/3;
  grid-row: 2/3;
  align-content: start;
  font-size: 12px;
  line-height: 16px;
  color: $text-color-secondary;

  @media (min-width: $tablet-width) {
    margin-bottom: auto;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 38px auto;
    overflow-wrap: anywhere;
  }
}

/* -------------------------------------------------------- */
/* Элементы списка */
/* -------------------------------------------------------- */

.product__desc-name {
  @media (min-width: $tablet-width) {
    padding: 7px 10px 4px 0;
    border-bottom: 1px solid $border-color-secondary-bold;
  }

  @media (min-width: $desktop-width) {
    padding: 6px 10px 6px 0;
  }
}

.product__desc-value {
  margin: 0;
  text-align: right;

  @media (min-width: $tablet-width) {
    padding: 7px 0 4px 10px;
    border-bottom: 1px solid $border-color-secondary-bold;
  }

  @media (min-width: $desktop-width) {
    padding: 6px 0 6px 10px;
  }
}

/* -------------------------------------------------------- */
/* Кнопка "Заказать" */
/* -------------------------------------------------------- */

.product__button {
  grid-column: 1/-1;
  margin-top: 17px;

  @media (min-width: $tablet-width) {
    margin-top: 32px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 35px 38px 0;
  }
}
